* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
    min-height: 100vh;
    background-color: darkgray;
    background-color: #424242;
    background-color: #353545;
}

.page-header {
    height: 160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: yellow;
    background-image: url("./img/ship-to-star.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

.page-header h1 {
    width: 280px;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 26px;
    text-shadow: 2px 2px black;
    text-shadow: 2px 2px 4px black;
}

.page-main {
    padding-bottom: 50px;
}

.box-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
    height: 700px;
    width: 90%;
    margin-top: -20px;
    margin-inline: auto;
    /* background: red; */
}

.box {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    background-color: #ddd;
    box-shadow: 2px 2px 5px #222;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    overflow: hidden;
    position: relative;
}

.box h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    color: yellow;
    background: #444;
    box-shadow: 0px 0px 5px #000;
    font-size: 16px;
}

.box.characters {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr max-content;
}

.box.characters h2 {
    background-color: #556;
    background-color: #535556;
}

.box.details {
    display: grid;
    grid-template-rows: max-content 1fr 1fr;

}
.box.details h2 {
    background-color: #748687;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    padding: 1px 8px;
}

.box.characters ul li:nth-child(odd) {
    background-color: #eee;
}

.box ul li.target,
.box ul li:hover {
    background-color: #555;
    color: #fff;
    padding-left: 16px;
    cursor: pointer;
}

.box ul li.target:after {
    margin-left: 8px;
    content: "\27A4";
    font-size: 14px;
}

.box footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;

    padding-block: 4px;
}

.box footer .arrow {
    font-size: 14px;
}
.box footer .arrow:hover {
    cursor: pointer;
}



/* ######################### */
.inner {
    /* background-color: red; */
    padding-top: 8px;
}

.box .inner h3 {
    padding-left: 8px;
}

.box .inner div {
    font-weight: bold;
}
.box .inner ul li span {
    padding-left: 8px;
    font-weight: normal;
}





.loader {
    border: 3px solid #88a; /* Light grey #f3f3f3 */
    border-top: 3px solid transparent; /* Blue  #3498db*/
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-inline: auto;
    margin-block: auto;
    display: none;
  }

  .loader.light {
    border: 3px solid #eee; /* Light grey #f3f3f3 */
    border-top: 3px solid transparent; /* Blue  #3498db*/
  }

  .loader.show {
    display: block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


